body {
    font-family: 'Roboto', sans-serif; 
    background-color: var(--clr-background);
    accent-color: #FF0045; /* set color for: input type=checkbox, radio, range & progress */
}

:root {
    --clr-background: #fff;
    --clr-logo: #fe1251;
    --clr-placeholder: #777;
    --clr-input: #000;
    --clr-input-background: #fff;
    --clr-svg-search-icon: #333;
    --clr-svg-search-icon-hover: #000;
    --search-input-outline: none;
    --clr-login-background: #fff;
    --clr-login-background-hover: transparent;
    --clr-login-font-hover: #000;
    --clr-login-font: #333;
    --clr-signup-background: #FE1251;
    --clr-signup-font: #fff;
    --clr-shelves: #f1f1f1;
    --clr-font: #3f3f42;
    --clr-font-hover: #000;
    --clr-black-white: #000;
    --background-nav-gradient: linear-gradient(180deg, #FE1251 0%, #FF0045 100%);
    --clr-mini-nav-svg-hover: #333;
    --clr-more-btn-nav-hover: #FF0045;
    --clr-background-more-btn-nav-hover: #fff;
    --clr-rent-btn: #FF0045;
    --clr-background-rent-btn: #fff;
    --clr-rent-btn-hover: #fff;
    --clr-background-rent-btn-hover: transparent;
    --clr-border-rent-btn-hover: transparent;
    --clr-border-rent-btn-hover: #fff;
    --clr-rent-btn-icon: #fff;
    --clr-rent-btn-icon-hover: #000;
    --clr-box-shadow-hover: 0px 3px 10px #00000040;
    
    --clr-background-mob-navbar: rgba(255, 0, 69, 0.8);
    --clr-indicat-border: #fff;
    --clr-svg-icon-in-cat-shelve-under-nav: #333;
    --clr-svg-icon-in-cat-shelve-under-nav-hover: #fff;












    --clr-light: #fff;
    --clr-dark: #f1f1f1;
    --clr-light-dark: #292929;
    --clr-box-shadow: 0px 3px 10px #00000040;
    --clr-btn: #434544;

    --foreground: var(--clr-font);
    --background-d: var(--clr-dark);
    --background-l: var(--clr-light);
}

.darkmode {
    --clr-background: #121212;
    --clr-placeholder: #AAA;
    --clr-input: #fff;
    --clr-input-background: #292929;
    --clr-svg-search-icon: #fff;
    --clr-svg-search-icon-hover: #fff;
    --search-input-outline: 1px solid #0a80fe;
    --clr-login-background: transparent;
    --clr-login-background-hover: #fff;
    --clr-login-font-hover: #000;
    --clr-login-font: #fff;
    --clr-signup-background: #FE1251;
    --clr-signup-font: #fff;
    --clr-shelves: #292929;
    --clr-font: #e7e9ea;
    --clr-font-hover: #FFF;
    --clr-black-white: #fff;
    --background-nav-gradient: var(--clr-shelves);
    --clr-mini-nav-svg-hover: #FF0045;
    --clr-more-btn-nav-hover: var(--clr-shelves);
    --clr-background-more-btn-nav-hover: #fff;
    --clr-rent-btn: var(--clr-shelves);
    --clr-background-rent-btn: #fff;
    --clr-rent-btn-hover: #fff;
    --clr-background-rent-btn-hover: var(--clr-shelves);
    --clr-border-rent-btn-hover: #0a80fe;
    --clr-rent-btn-icon: #FF0045;
    --clr-rent-btn-icon-hover: #fff;
    --clr-box-shadow-hover: 0px 0px 8px -1px #ffffff;
    
    --clr-background-mob-navbar: rgb(41, 41, 41, 0.8);
    --clr-indicat-border: #121212;
    --clr-svg-icon-in-cat-shelve-under-nav: #0a80fe;
    --clr-svg-icon-in-cat-shelve-under-nav-hover: #FF0045;














    --clr-light: #fff;
    --clr-dark: #121212;
    --clr-light-dark: #292929;
    --clr-box-shadow: none;
    --clr-btn: #292929;


    --foreground: var(--clr-font);
    --background-d: var(--clr-light-dark);
    --background-l: var(--clr-dark);

}

/* Scrollbar Width */
::-webkit-scrollbar {
    width: 20px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    height: 33vh;
    background-color: #888; 
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::selection {
    background-color: #FF557A;
    color: #fff;
}

a {
    text-decoration: none;
}

button,
a {
    user-select: none;
}


/* Start header */
header {
    padding: 12px;
}

header .container-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Logo */
header .logo {
    flex: 1;
    margin-right: 12px;
}

header .logo-link {
    line-height: 1;
    font-size: calc(2.4vw + 16px);
    color: var(--clr-logo);
    font-family: 'aclonica', 'Roboto', sans-serif;
    font-weight: 400; /* NOT allow more weight for this font */
}

header .logo-link:hover {
    color: var(--clr-logo);
}

/* Search Box */
header .search-box {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 45px;
    border-radius: 24px;
    background-color: var(--clr-input-background);
    box-shadow: #00000021 0px 2px 5px, #0000000d 0px 0px 3px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

header .search-box:hover {
    box-shadow: rgba(0, 0, 0, 0.13) 0px 7px 15px, rgb(0 0 0 / 5%) 0px 0px 3px;
}

header .search-div{
    width: 100%;
    height: 100%;
}

header form {
    display: flex;
    align-items: center;
    flex: 1; 
    width: 100%;
    height: 100%;
}

header form input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0;
    font-weight: bold;
    caret-color: #FF0045;
    color: var(--clr-input);
    background-color: var(--clr-input-background);
}

header input::placeholder {
    user-select: none;
    color: var(--clr-placeholder);
}

header input:focus::placeholder {
    transform: translateX(-75px);
    transition: .2s;
}

header input:not(:focus)::placeholder {
    transform: translateX(0px);
    transition: .2s;
}

/* Hide x in input */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

header .search-icon svg {
    color: var(--clr-svg-search-icon);
}

header .search-icon {
    cursor: pointer;
}

header .search-icon:hover svg {
    color: var(--clr-svg-search-icon-hover);
}

/* Three Button Box */
header div.btn-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    margin-left: 12px;
    white-space: nowrap;
}

/* Dark Mode Toggle */
header .btn-box .dark-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .btn-box input.dark {
	height: 0;
	width: 0;
	visibility: hidden;
}

header .btn-box label.slider {
	cursor: pointer;
	text-indent: -9999px;
	width: 90px;
	height: 45px;
	display: block;
	border-radius: 45px;
	position: relative;
	transition: 0.4s;
}

header label.slider:hover {
	background: #000;
	transition: 0.4s;
}

header label.slider::before {
	content: '';
	position: absolute;
	top: 3px;
	right: 3px;
	width: 39px;
	height: 39px;
    background: url('images/logos/moon_logo.svg') no-repeat center;
	background-size: 30px;
	border-radius: 25px;
	transition: 0.4s;
}

header input.dark:checked:hover + label.slider {
	background: #FE1251;
	transition: .4s;
}

header input.dark:checked + label.slider::before {
    background: url('images/logos/sun_logo.svg') no-repeat center;
	background-size: 37px;
	border-radius: 25px;
	transition: 0.4s;	
}

header input.dark:checked + label.slider:hover::before,
header label.slider:hover::before {
    background-color: #fff;
}

header input.dark:checked + label.slider::before {
	right: calc(100% - 3px);
	transform: translateX(100%) rotate(-90deg);
}


/* Log in & Sign up Button */
header div.log-in-box {
    height: 45px;
    width: 90px;
    padding: 0;
    border-radius: 50px;
    margin: 0 5px;
}

header .btn-box  a.log-in{
    width: 100%;
    height: 100%;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: var(--clr-login-font);
    background-color: var(--clr-login-background);
    transition: 0.2s;;

}

header a.log-in:hover {
    color: var(--clr-login-font-hover);
    background-color: var(--clr-login-background-hover);
    box-shadow: rgba(0, 0, 0, 0.13) 0px 7px 15px, rgb(0 0 0 / 5%) 0px 0px 3px;
}

header a.log-in:active {
    box-shadow: none;
}
/* Sign Up Button */
header div.sign-up-box {
    height: 45px;
    width: 99px;
    padding: 0;
    border-radius: 50px;
}

header div.sign-up-box a.sign-up {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 50px;
    color: var(--clr-signup-font);
    background-color: var(--clr-signup-background);
    transition: 0.3s;
}

header .sign-up-box a.sign-up:hover {
    color: #000;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 7px 15px, rgb(0 0 0 / 5%) 0px 0px 3px;
}

header .sign-up-box a.sign-up:active {
    box-shadow: none;
}
/* Start Responsive Header */
/* Medium screen (tablets & portrait phones, less than 768px) */
@media (max-width: 768px) {
    header .container-box{
        flex-wrap: wrap;
    }
    header .logo {
        order: 1;
        flex-basis: 30%;
        margin-right: 0;
    }
    header .logo a {
        font-size: calc(3.6vw + 17px);
    }
    header div.btn-box {
        order: 2;
        margin: 0;
    }
    header .search-box {
        order: 3;
        flex-basis: 100%;
        margin-top: 12px;
    }
}

/* Small screen (phones, less than 576px) */
@media (max-width: 576px) {
    header .btn-box .sign-up-box {
        display: none;
    }
    header .btn-box .log-in-box {
        margin-right: 0;
        margin-left: clamp(5px, 1.5vw, 10px);
    }
    header .btn-box .log-in-box a {
        color: var(--clr-signup-font);
        background-color: var(--clr-signup-background);
    }
    header .log-in-box a:hover {
        color: #000;
        background-color: #fff;
    }
    header .logo a {
        font-size: 10vw;
    }
    header .btn-box label.slider {
        width: 39px;
        height: 39px;
    }
    header label.slider::before{
        top: 0;
        right: 0;
    }
    header input.dark:checked + label.slider::before {
	    right: 0;
	    transform: translateX(0%) rotate(-90deg);
    }
    header input.dark:checked + label.slider:hover::before,
    header input.dark:checked:hover + label.slider,
    header label.slider:hover::before,
    header label.slider:hover {
        background-color: transparent;
    }
    header input.dark:not(:checked) + label.slider:hover::before {
        background-color: #fff;
    }

}

/* X-Small screen (phones, less than 359px) */
@media (max-width: 359px) {
    header .log-in-box {
        width: fit-content !important;
        height: fit-content !important;
        margin: 0;
    }
    header .log-in-box a {
        font-size: 6vw;
        padding: 2vw 5.5vw;
    }
    header .dark-box {
        display: none !important;
    }

}
/* End header */

/* Start nav bar */
section.body-site {
    padding: 0;
}

section div.body-row {
    /* margin-left: 0; */
    margin: 0;
}

section nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100vh;
    padding: 0 !important;
    border-radius: 0 50px 50px 0;
    background: var(--background-nav-gradient);
    width: 18.5% !important; /* Edit Nav Width */
}

section .nav-box {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: space-between;
}

section nav .mini-nav {
    margin: 0 10px;
    border-bottom: 1px solid #FFF;
}

section .mini-nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 25%;
    height: 45px;
}

section .mini-nav div svg {
    height: 27px;
    width: 27px;
    fill: #fff;
    transition: .2s;
}

section .mini-nav div a:hover svg {
    fill: var(--clr-mini-nav-svg-hover);
    transform: scale(1.1);
    transition: .2s;
}

section nav .mini-nav a{
    padding: 0;
    margin: 0;
}

section nav .mini-nav .nine-dots-box {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: none; /* display: flex in media query */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

section nav .mini-nav .nine-dots-box .drop-list {
    height: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

section nav .mini-nav .nine-dots {
    width: fit-content;
    height: fit-content;
}

section nav .mini-nav .nine-dots-box:hover .drop-list {
    height: 180px;
}

section nav .mini-nav .nine-dots-box .nine-dots svg .group-one {
    transition: 150ms 150ms;
}

section nav .mini-nav .nine-dots-box .nine-dots svg .group-two {
    transition: 150ms 75ms;
}

section nav .mini-nav .nine-dots-box .nine-dots svg .group-three {
    transition: 150ms 0ms;
}

section nav .mini-nav .nine-dots-box:hover .nine-dots svg .group-one{
    fill: var(--clr-mini-nav-svg-hover);
    transform-origin: center;
    transform: scale(1.2);
    transition: 150ms 0ms;
}

section nav .mini-nav .nine-dots-box:hover .nine-dots svg .group-two{
    fill: var(--clr-mini-nav-svg-hover);
    transform: scale(1.2);
    transform-origin: center;
    transition: 150ms 75ms;
}

section nav .mini-nav .nine-dots-box:hover .nine-dots svg .group-three{
    fill: var(--clr-mini-nav-svg-hover);
    transform: scale(1.2);
    transform-origin: center;
    transition: 150ms 150ms;
}



/* Start Nav Categories */
section nav .categories-box {
    padding: 0 8px 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    overflow-y: auto;
    overflow-x: hidden; /* Hide & remove the functionality of the scrollbar on X axis */
}

section nav .categories-box::-webkit-scrollbar {
    scrollbar-width: none;  /* Firefox */
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

section nav .categories-box div {
    padding: 0;
}

section nav .categories-box a {
    font-size: 1.9vw;
    font-weight: 300;
    color: #fff;
    padding: 5px 15px;
    border-radius: 50px;
    margin: 0 !important;
    /* height: calc(100vh / 11); */
    transition: all 0.1s;
}

section nav .categories-box a:hover {
    background-color: #FF557A;
}

section nav a.active-btn {
    font-weight: 400;
    background-color: #FF557A;
    transition: 0s;
}

section nav .categories-box .cat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}

svg.big-nav-icon {
    height: 40px;
    width: 40px;
}

/* More Button */
section nav .more-btn-nav-box {
    width: 100%;
    align-self: center;
    padding: 0 8px !important;
}

section div nav a.more {
    font-size: 18px;
    font-weight: 300;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 0;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 26px;

    /* margin: 15px auto 0; */
}

section div nav a.more:hover {
    color: var(--clr-more-btn-nav-hover);
    font-weight: 600;
    background-color: var(--clr-background-more-btn-nav-hover);
}

/* Rent Button */
section nav .rent-btn-nav-box {
    width: 100%;
    align-self: center;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

section nav a.rent-btn-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 85%;
    margin: 27px auto;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.3;
    border-radius: 50px;
    color: var(--clr-rent-btn);
    border: 1px solid transparent;
    background-color: var(--clr-background-rent-btn);
    transition: 0.2s;
}

section nav a.rent-btn-text:hover {
    color: var(--clr-rent-btn-hover);
    border: 1px solid var(--clr-border-rent-btn-hover);
    background-color: var(--clr-background-rent-btn-hover);
}

section nav a.rent-btn-icon {
    display: none;
    width: 100%;
    fill: var(--clr-rent-btn-icon);
}

section nav a.rent-btn-icon:hover {
    background-color: transparent;
}

section nav a.rent-btn-icon svg:hover {
    fill: var(--clr-rent-btn-icon-hover);
}


/* Small Screen Laptop under 13 inch (less than 1279px) */
@media (max-width: 1279px) {
    section nav .mini-nav .nine-dots-box {
        display: flex;
    }
    section nav .mini-nav .four-mini-nav,
    section nav .categories-box .text {
        display: none;
    }
    section nav {
        width: 78px !important;
        border-radius: 0 15px 15px 0;
    }
    section .carousel-section {
        width: calc(100% - 78px) !important;
    }
    section nav .categories-box{
        align-items: center !important;
        padding: 0 0 20px;
    }
    section nav .categories-box a  {
        border-radius: 5px;
    }
    /* Rent Button */
    section nav a.rent-btn-text {
        display: none;
    }
    section nav a.rent-btn-icon {
        display: block;
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    section nav {
        display: none;
    }
    section section.carousel-section {
        width: 100% !important;
    }
    section .carousel-inner img {
        max-height: 40vw;
        min-height: 150px;
    }
    nav.mob-phone-nav {
        display: flex !important;
    }
    section.search-input-mobile {
        display:block !important;
    }
    nav div.cat-sec-under-nav-box {
        display: grid !important;
    }
}

/* Start Carousel */
section .carousel-section {
    padding: 0 12px;
    width: 81.5%
}

main section .carousel-section .img-box {
    margin-bottom: 12px;
    user-select: none;
}

section .carousel-inner {
    border-radius: 10px;
}

section .carousel-inner img {
    height: 300px;
    object-fit: cover;
    background-position: center;
}

section .btn-in-carousel-one {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 175px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    background-color: #FF0045;
}

section .carousel-indicators {
    margin-bottom: 0.6rem;
}

section .carousel-indicators [data-bs-target] {
  position: relative;
  width: 8%;
  height: 6px;
  border: none;
  border-radius: 24px;
}

section .carousel-indicators [data-bs-target] span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #FE1251;
  border-radius: inherit;
}

section .carousel-indicators [data-bs-target] {
    background-color: #f882a2;
}
/* End Carousel */



/* Start Shelves section */
main section.shelves-box {
    margin: 0;
    height: 100%;
    width: 100%;
}

main section .contin-product {
    padding: 0;
}

main section .shelves {
    background-color: var(--clr-shelves);
    width: 100%;
    border-radius: 10px;
    margin: 0 0 10px 0;
    overflow: hidden;
}

main section .shelve-cont {
    padding: 0;
}

main section .shelves .shelve-title {
    padding-left: 9px;
}

main section .shelves .shelve-title a {
    font-weight: 500;
    color: var(--clr-font);
    font-size: calc(20.8px + 0.6vw);
}

main section .shelves .shelve-title a:hover {
    color: var(--clr-font-hover);
}

main section .items-scroller {
    display: grid;
    gap: 9px;
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    padding: 0 9px 9px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 9px;
    height: 100%;
}

main section .items-scroller > * {
    scroll-snap-align: start;
    height: 100%;
}

main section .item-cards {
    display: flex;
    flex-direction: column;
    aspect-ratio: 9 /15;
    padding: 5px;
    color: var(--clr-font);
    background-color: var(--clr-background);;
    box-shadow: var(--clr-box-shadow);
    border-radius: 10px;
    transition: .2s;
    text-align: center;
    overflow: hidden;
    height: 100%;
}

main section div.img-of-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 100%;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

main section .img-of-item img {
    inline-size: 100%;
    width: 100%;
}

main section .item-description {
    width: 100%;
    height: 25%;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

main section .item-cards:hover {
    box-shadow: var(--clr-box-shadow-hover);
    transition: .2s;
}

main section .item-cards:active {
    box-shadow: none;
    transform: scale(.96);
    transition: .2s;
}

main section .item-cards:hover div.item-description h4 {
    color: var(--clr-font-hover);
    transition: .2s;
}

main section div.item-description h4:nth-of-type(1),
main section div.item-description h4:nth-of-type(2) {
    font-size: calc(1vw + 5px);
    font-weight: 500;
    margin: 0;
    transition: .2s;
    background-color: #0a80fe;
}

main section div.item-description h4:nth-of-type(2) {
    flex: 2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: red;
}

main section div.item-description h5 {
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #3b5998;
}

main section h5 span.price {
    color: var(--clr-black-white);
    font-weight: 700;
    font-size: calc(1vw + 10px);

}

main section h5 span.currency {
    color: var(--clr-black-white);
    font-weight: 700;
    font-size: 14px;
    padding-left: 3px;
}

main section h5 span.week {
    color: var(--clr-font);
    font-weight: 500;
    font-size: 14px;   
}

/* Scrollbar Height */
main section .items-scroller::-webkit-scrollbar:horizontal {
    height: 15px;
}

/* Scrollbar Handle */
main section .items-scroller::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--clr-shelves); 
}

/* Scrollbar Track */
main section .items-scroller::-webkit-scrollbar-track:horizontal {
    background-color: transparent; 
}

/* Scrollbar Handle on hover */
/* For yoy */
main section .for-you:hover .items-scroller::-webkit-scrollbar-thumb:horizontal,
/* Phones */
main section .phones:hover .items-scroller::-webkit-scrollbar-thumb:horizontal,
/* Gaming */
main section .gaming:hover .items-scroller::-webkit-scrollbar-thumb:horizontal,
/* Watches */
main section .watches:hover .items-scroller::-webkit-scrollbar-thumb:horizontal,
/* Cameras */
main section .cameras:hover .items-scroller::-webkit-scrollbar-thumb:horizontal,
/* Computers */
main section .computers:hover .items-scroller::-webkit-scrollbar-thumb:horizontal {
    background-color: #555;
}

/* Start Responsive Shelves (iPad) */
@media (max-width: 992px) {

    main section .item-cards:active {
        transform: none;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    main section .items-scroller::-webkit-scrollbar {
            display: none;
    }
    main section .items-scroller {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    }

    main section .items-scroller {
        grid-auto-columns: 22%;
    }
}

/*  */
/* @media (max-width: 840px) {
    main section .items-scroller {
        grid-auto-columns: 23%;
    }
    main section div.item-description h4 {
    font-size: calc(1vw + 6px) !important;
    }
} */

@media (max-width: 768px) {
    main section .items-scroller {
        grid-auto-columns: 27%;
    }
    main section div.item-description h4,
    main section h5 span.currency,
    main section h5 span.week {
        font-size: 2.2vw !important;
    }
    main section h5 span.price {
        font-size: calc(2vw + 8px);
    }
}

@media (max-width: 576px) {
    main section .items-scroller {
        grid-auto-columns: 62%;
    }
    main section div.item-description h4,
    main section h5 span.currency,
    main section h5 span.week {
        font-size: 4vw !important;
    }
    main section h5 span.price {
        font-size: calc(4vw + 16px);
    }
}

@media (max-width: 330px) {
    main section div.item-description h4:nth-of-type(1) {
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 5vw !important;
    }
    main section div.item-description h4:nth-of-type(2) {
    display: none;
    }
}






/* Big More Button */

.big-more-btn-box {
    width: 100%;
    margin: 0;
    text-align: center;
}

.big-more-btn {
    padding: 0;
}

.big-more-btn button {
    width: 100%;
    height: 32px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    background: none;
    color: var(--clr-font);
    border: 1px solid var(--clr-font);
    border-radius: 3px;
    padding: 0;
    position: relative;
    z-index: 1;    
}

.big-more-btn button:hover {
    border-color: var(--bs-body-color);
    color: #fff;
    transition: all 0.1s;
}

.big-more-btn button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -1px;
    width: calc(100% + 2px);
    height: 0%;
    border-radius: 3px;
    background: var(--clr-btn);
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 2);

}

.big-more-btn button:hover::before {
    height: 100%;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* How it works */

section.how-it-works-section {
    margin: 25px 0;
    height: 600px;
}

.how-it-works {
    margin: 0px;
    height: 100%;
    border-radius: 50px;
    background-image: linear-gradient(135deg,#FF0045,#e0004e,#c2006f,#961186,#5c2d90);
    /* background: linear-gradient(-90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%); */
}

.how-it-works-title {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    padding: 10px 35px 0;
    
}

.how {
    width: 32%;
    border-radius: 50px;
    height: 75%;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;    
}

.one {
    background-color: #faead3;

}

.two {
    background-color: #d86262;
}

.three {
    background-color: #faead3;
}


.how img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    transition: all .3s;
}

.how:hover img {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgb(112, 112, 112));
}

.how h2 {
    position: absolute;
    top: 80%;
    line-height: 1.4;
}


h2 mark {
    background-color:#f68c2f;
}


.more-details-link {
    padding: 0;
}

.more-details-btn {
    text-align: right;
    padding: 0;
    margin-right: 50px;

}

.more-details-btn button {
    padding: 13px 20px;
    border: none;
    border-radius: 50px;
    background-color: #FE1251;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    transition: all 0.2s;

}

.more-details-btn button:hover {
    color: #333;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 7px 15px, rgb(0 0 0 / 5%) 10px 10px 3px;

}

.more-details-btn button:active {
    box-shadow: none;
}


/* Most popular & Added Recently */
.most-popular {

}

.shelves-down {
    background-color: #f1f1f1;
    height: 500px;
    border-radius: 10px;
    margin: 0 0 25px 0;

}

section .shelves-down h3 {
    margin: 0;
}

section .shelves-down h3 a {
    color: var(--bs-body-color);
}

section .shelves-down h3 a:hover,
section .shelves-down .item-cards-down:hover {
    color: #000;
}


a.item-cards-down {
    width: 22%;
    height: 87%;
    border-radius: 10px;
    background: #FFF;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    padding: 0;
    color: #434544;
    text-align: center;
    transition: all .2s;
}

/* a.item-cards-down:active {
    box-shadow: none;
} */

a.item-cards-down::before {
    content:"";
    position: absolute;
    left: 5px;
    bottom: 0px;
    z-index: -1;
    height: 50px;
    width: 100px;
    transform-origin: bottom left;
    background: none;
    border-radius: 10px;
    transition: all .2s;
    transform: skew(0deg, -7deg);
}

.item-cards-down:hover::before {
    box-shadow: 0px 13px 5px #00000040;
}


.item-cards-down:active::before {
    box-shadow: none;
}

a.item-cards-down::after {
    content:"";
    position: absolute;
    right: 5px;
    bottom: 0px;
    z-index: -1;
    height: 50px;
    width: 100px;
    transform-origin: bottom right;
    background: none;
    border-radius: 10px;
    transition: all .2s;
    transform:skew(0deg, 7deg);
}

.item-cards-down:hover::after {
    box-shadow: 0px 13px 5px #00000040;
}


.item-cards-down:active::after {
    box-shadow: none;
}

.added-recently {

}


.down-hr {
    width: 90%;
    margin: auto;
    /* background-color: #434544; */
}


/* Top brands section */

section .top-brands-shelve {
    height: 250px;
    margin-bottom: 25px;
    /* background-color: #f1f1f1; */
}

section .top-brands-shelve h3 {
    color: var(--bs-body-color);
    font-size: calc(1.3rem + 0.6vw);
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    padding-left: 20px;
}

.top-brand {
    background-color: #fff;
    height: 80%;
    margin: 0 5px;
    width: 15%;
    border: 1px solid #434544;
    border-radius: 3px;
    padding: 10px;
}

section .top-brands-shelve svg {
    width: 100%;
    height: 100%;
}

.uniform {
    padding: 10px 10px;
    position: relative;
    z-index: 1;
    border: 1px solid #434544;
    background: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uniform::before {
    content: "";
    width: 100%;
    height: 100%;
    margin: 0;
    background: none;
    position: absolute;
    z-index: -3;
    box-shadow: 0px 0px 0px 100px #434544;
    transition: .4s;
}

/* APPLE */
.apple path {
    fill: #434544;
    transition: all .4s;
}

a.apple:hover.apple path,
.apple:hover::before {
    fill: #fff;
    height: 0;
    width: 0;
}

/* SAMSUNG */
section .top-brands-shelve .samsung svg .galaxy {
    fill: #434544;
    transition: .4s;
}

section .top-brands-shelve .samsung svg .letter {
    fill: #fff;
    transition: .4s;
}

a.samsung:hover.samsung .galaxy,
a.samsung:hover::before {
    fill: #fff;
    height: 0;
    width: 0;
}

a.samsung:hover.samsung .letter {
    fill: #434544;
}


/* SONY */
.sony svg path{
    fill: #434544;
    transition: .4s;
}

a.sony:hover.sony path,
.sony:hover::before {
    fill: #fff;
    height: 0;
    width: 0;
}

/* CANON */
.canon svg path{
    fill: #434544;
    transition: .4s;
}

a.canon:hover.canon path,
.canon:hover::before {
    fill: #fff;
    height: 0;
    width: 0;
}

/* DELL */
.dell svg path{
    fill: #434544;
    transition: .4s;
}

a.dell:hover.dell path,
.dell:hover::before {
    fill: #fff;
    height: 0;
    width: 0;
}

/* Nintendo */
.nintendo svg path{
    fill: #434544;
    transition: .4s;
}

.nintendo svg path.back{
    fill: #fff;
    transition: .4s;
}

a.nintendo:hover.nintendo path,
.nintendo:hover::before {
    fill: #fff;
    height: 0;
    width: 0;
}

a.nintendo:hover svg path.back {
    fill: #434544;
}


/* Footer */
table {
  empty-cells: hide;
}

footer {
    height: 391px;
    background: linear-gradient(123.76deg, #E137C4 33.38%, #5A89E7 78.78%);
    border-radius: 75px 75px 0 0;
}

footer table th {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    user-select: none;
}

footer table a {
    color: var(--bs-body-color);
    font-weight: 500;
}

footer table a:hover {
    color: #000;
    text-decoration: underline;
}

table {
    height: 190px;
    width: 100%;
    margin: 25px 0 0 25px;
}

footer .lang-loc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}



.lang,
.loc {
    background-color: #fff;
    width: 65%;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    user-select: none;
    transition: all .1s;
    overflow: hidden;
    
    
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.lang:hover,
.loc:hover {
    height: 100px;
}

.la:hover,
.la:hover h4,
.arabic:hover,
.arabic:hover h4,
.egypt:hover,
.egypt:hover h4 {
    background-color: #f1f1f1;
    color: #000;
}

.lang h4,
.loc h4 {
    margin: 0;
    font-size: calc(1.275rem + 0.3vw);
    color: #212529;
    font-weight: 500;
}


.la {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 9px;
}

.lo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.arabic,
.egypt {
    width: 100%;
    height: 50px;
    user-select: none;
    border-top: 1px solid #33333312;
    padding-left: 44px;
    display: flex;
    align-items: center;
}

.lang:hover  svg.eChxup,
.loc:hover  svg.eChxup {
    transform: rotate(180deg);
    transition: all .3s;
}

.lang:not(:hover) svg.eChxup,
.loc:not(:hover) svg.eChxup {
    transform: rotate(0deg);
    transition: all .3s;
}



.lang-loc-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}

.app-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 12px;
}


footer .lang-loc-app a:hover path.google-app-logo {
    fill: #000;
    stroke: #fff;
    transition: .2s;
}

footer .lang-loc-app a:hover path.apple-app-logo {
    fill: #000;
    stroke: #fff;
    transition: .2s;
}



.soc-pay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px; 
    margin-bottom: 12px;
}


.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; 
    margin-left: auto;
    margin-right: auto;
}

.social .facebook:hover path{
    fill: #3b5998;
}

.social .twitter:hover path{
    fill: #1da1f2;
}

.social .instagram:hover path{
    fill: #f09433;;
}

.payments {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 20px;
    border-left: 2px solid #f1f1f1;

}

.contact a {
    color: var(--bs-body-color);
    font-weight: 500;
    user-select: auto;
}

.contact a:hover {
    text-decoration: underline;
    color: #000;
}

.contact svg {
    margin-right: 10px;
}

.contact a:hover svg {
animation: shake 0.2s;
  
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}




.end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 12px;
    color: #d2d2d2;
    font-size: 16px;
}

.end p {
    margin: 0;
}



.end a {
    color: #d2d2d2;
}

.end a:hover {
    color: #fff;
}


/* .end a:not(:first-of-type)::before {
    content: "|";
    margin-right: 5px;

} */


.legal{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 5px;
}

.legal p {
    user-select: none;
}







/* Mobile Navbar */
nav.mob-phone-nav {
    display: none; /* display flex in media query 768px */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    bottom: -70px;
    z-index: 999;
    width: 100%;
    height: 140px;
    transition: .3s;
    border-radius: 10px 10px 0 0;
    background-color: var(--clr-background-mob-navbar);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    position: relative;
}

.navigation ul {
    display: flex;
    width: 350px;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    text-align: center;
    transition: .3s;
}

.mob-phone-nav svg {
    width: 35px;
    height: 35px;
}

.navigation ul li a .icon svg {
    transition: .3s;
    fill: #fff;
}

.navigation ul li.act a .icon {
    transform: translateY(-39px);
}

.navigation ul li a .text-mob-nav {
    position: absolute;
    color: #fff;
    font-weight: 500;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: .3s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.act a .text-mob-nav{
    opacity: 1;
    transform: translateY(10px);
}

.indicat {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid var(--clr-indicat-border);
    background-color: #FF0045;
    transition: .3s;
}

.navigation ul li:nth-child(1).act ~ .indicat {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).act ~ .indicat {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).act ~ .indicat {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).act ~ .indicat {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).act ~ .indicat {
    transform: translateX(calc(70px * 4));
}


/* Search input for mobile */
section.search-input-mobile {
    display: none; /* display block in media query 768px */
    width: 100%;
    padding: 0 12px;
    position: fixed;
    z-index: 1000;
    top: -60px;
    transition: 0.3s;
}

section .search-box-mob {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 45px;
    border-radius: 24px;
    background-color: var(--clr-input-background);
    box-shadow: #00000021 0px 2px 5px, #0000000d 0px 0px 3px;
    transition: box-shadow 0.2s;
}

section .search-box-mob:hover {
    box-shadow: rgba(0, 0, 0, 0.13) 0px 7px 15px, rgb(0 0 0 / 5%) 0px 0px 3px;
}

section .search-div-mob{
    width: 100%;
    height: 100%;
}

section form.search-mob-form {
    display: flex;
    align-items: center;
    flex: 1; 
    width: 100%;
    height: 100%;
}

section form.search-mob-form input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0;
    font-weight: bold;
    caret-color: #FF0045;
    color: var(--clr-input);
    background-color: var(--clr-input-background);
}

section form.search-mob-form input::placeholder {
    user-select: none;
    color: var(--clr-placeholder);
}

section .search-box-mob .search-icon svg {
    color: var(--clr-svg-search-icon);
}

section .search-box-mob .search-icon:hover svg {
    color: var(--clr-svg-search-icon-hover);
}


/* Category shelve under mobile Navbar */
nav div.cat-sec-under-nav-box {
    display: none; /* display grid in media query 768px*/
    width: 100%;
    height: 70px;
    transition: .3s;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
    align-content: center;
    grid-auto-columns: 19.8%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
}

/* Hide scrollbar for Chrome, Safari and Opera */
nav div.cat-sec-under-nav-box::-webkit-scrollbar {
    display: none;
}

.cat-sec-under-nav-box > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

nav.mob-phone-nav .cat-sec-under-nav-box svg {
    color: var(--clr-svg-icon-in-cat-shelve-under-nav); /* fill & stroke currentColor */
}

nav.mob-phone-nav .cat-sec-under-nav-box > div:hover svg {
    color: var(--clr-svg-icon-in-cat-shelve-under-nav-hover);
    transform: scale(1.1);
    transition: .3s;
}